.input-component {
    text-align: center;
}

.input-box {
    border: 2px solid hsla(217, 100%, 50%, 1);
    border-radius: 15px;
    padding: 5px;
    width: 25%;
    display: inline-block;
}

.input-box:focus-visible {
    border-color: hsla(333, 100%, 53%, 1);
    outline: none;
}

.add-btn {
    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    border-radius: 50%;
    font-size: large;
    font-weight: bolder;
    padding: 2px 7px !important;
    border: 1px solid hsla(339, 100%, 55%, 1);
    cursor: pointer;
    display: inline-block;
    color: #0d4acf;
}